# Dependencies
node_modules/

# Build output
docs/.vitepress/dist/
docs/.vitepress/cache/

# Logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.idea/

# MacOS
.DS_Store
*.swp
*.swo

# Local dev
.env
.env.local
